<h3>Comments Pending Approval</h3>
<table>
  <br>
  <tbody>
    <% @admincomments.each do |comment| %>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><p><%= comment.content %></p></td>
      <td><p><%= comment.author_url %></p></td>
      <td><p>Approved: <%= comment.approved %></p></td>
      <td><%= form_for [@commentable, comment] do |f| %>
      <%= f.hidden_field :approved, value: true %>
      <%= f.submit 'Approve', :class => "btn btn-success" %>
      <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
