<%= image_tag @project.image_url.to_s %>
<h2><%= @project.name %></h2>
<p>Technologies used: <%= @project.technologies_used %></p>


<%= render 'comments/comments' %>
<% if current_user && current_user.role == "editor" %>
<%= render :partial => 'comments/admin_list', :locals => { :comment => @comment } %>
<%= render 'comments/list' %>
<% else %>
<%= render 'comments/list' %>
<% end %>
