<div class="blog-info">
<h1 class="blog-title"><%= @post.title %></h1>
<h6 class="blog-date">Posted <%= time_ago_in_words @post.created_at %> ago</h6>
</div>
<div class="container blog">
<p id="notice"><%= notice %></p>
<p class="blog-body">
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-small" %>
<%= link_to 'Back', posts_path, :class => "btn btn-small" %>
</div>
