<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "John Jensen", root_path, :class => "logotext" %></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li class="divider"></li>
        <li><%= link_to "About" %></li>
      </ul>
    </div>
  </nav>
  <body>
    <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
    <% end %>
    <div class="columns large-10">
      <%= yield %>
    </div>
  </body>
</html>
